[user]
	name = ???
	email = ???
	; https://help.github.com/en/github/authenticating-to-github/generating-a-new-gpg-key
	signingkey = ???
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[commit]
	verbose = true
	gpgsign = true

# [url "ssh://git@github.com/"]
# 	insteadOf = https://github.com/
